@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @media (min-width: 1280px) {
    .portfolio__container:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }
  }
}

body {
  cursor: none; /* Hide the default cursor */
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #00ffff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}

.cursor-circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 3px solid #00ffff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  transition: transform 0.15s ease-out;
}

/* Scale the circle on hover */
.cursor-circle:hover {
  transform: scale(1.5);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #23282b;
}
::-webkit-scrollbar-track {
  background-color: rgba(17, 17, 19, 0.979);
}

.scrollbar-track {
  background: #1d2122 !important;
}

@media (max-width: 335px) {
  .hero_button_container {
    flex-direction: column;
  }
}
